<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../../styles/mediaquery.css">
	<link rel="stylesheet" href="../../styles/perfil.css">
	<link rel="stylesheet" href="../../styles/perfilmediaquery.css">
	<link rel="stylesheet" href="../../styles/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script src="https://unpkg.com/@phosphor-icons/web"></script>
	<title>Reconnect - Perfil de usuário</title>
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">
					<img src="../../images/reconnect-header.png" alt="Imagem da Logo Reconnect">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-house" viewBox="0 0 16 16">
									<path
										d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
								</svg>
								Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profissionais}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-people-fill" viewBox="0 0 16 16">
									<path
										d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
								</svg>
								Profissionais</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/servicos}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-tools" viewBox="0 0 16 16">
									<path
										d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
								</svg>
								Serviços
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuario/cadastrar}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
									<path fill-rule="evenodd"
										d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
								</svg>
								Cadastre-se
							</a>
						</li>


						<li class="nav-item">
							<a class="nav-link" th:href="@{/entrar}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
									<path fill-rule="evenodd"
										d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
								</svg>
								Entrar
							</a>
						</li>
					</ul>

					<hr class="group-divider">
					<div class="dropdown ms-2">
						<button class="btn btn-outline-light btn-fundo dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Admin</button>
						<ul class="dropdown-menu dropdown-menu-end" style="font-size: 16px;">

							<li><a class="dropdown-item dropdown-link" href="/usuario">Usuários</a></li>
							<li><a class="dropdown-item dropdown-link" href="/servico">Serviços</a></li>
							<li><a class="dropdown-item dropdown-link" href="/contrato">Contratos</a></li>
							<li><a class="dropdown-item dropdown-link" href="/contato">Contatos</a></li>
							<li><a class="dropdown-item dropdown-link" href="/faleconosco">Fale Conosco</a></li>
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</header>

	<!-- Capa perfil começa aqui -->
	<section class="perfil-usuario">
		<div class="container-perfil">
			<div class="capa-perfil">

				<div class="container-capa">
					<img class="img-capa" th:src="|/usuario/capa/${usuario.id}|" alt="img">
				</div>

				<div class="sombra"></div>
				<div class="avatar-perfil">
					<img class="perfil-usuario-img" th:src="|/usuario/imagem/${usuario.id}|" alt="img">
					<a th:href="@{/usuario/{id}/editar (id=${usuario.id})}" class="trocar-foto">
						<i class="fas fa-camera"></i>
						<span>Trocar foto</span>
					</a>
				</div>
				<div class="dados-perfil">
					<h4 class="titulo-usuario" th:text="${usuario.nome}"></h4>


					<ul style="text-shadow: 1px 1px 10px black;" class="lista-perfil">
						<li>35 Seguidores</li>
						<li>7 Seguindo</li>
						<li>32 Publicações</li>
					</ul>
				</div>
				<div class="opcoes-perfil">
					<a th:href="@{/usuario/{id}/editar (id=${usuario.id})}"><i class="fas fa-wrench"></i></a>
				</div>
			</div>
			<div class="menu-perfil">
				<ul>
					<li><a href="#publicacoes" title=""><i class="icone-perfil fas fa-bullhorn"></i> Publicações</a></li>
					<li><a data-bs-toggle="modal" th:data-bs-target="'#contato' + ${usuario.id}" title=""><i
								class="icone-perfil fas fa-info-circle"></i> Contato</a></li>

					<li><a data-bs-toggle="modal" th:data-bs-target="'#contrato' + ${usuario.id}" title=""><i
								class="icone-perfil fas fa-grin"></i> Contratar</a></li>

					<li><a href="#comentarios" title=""><i class="icone-perfil fas fa-camera"></i> Avaliações</a></li>
				</ul>
			</div>
		</div>

	</section> <!-- fim Capa perfil -->


	<!--	Feed perfil-->
	<div class="container">

		<div class="container-perfil" style=" margin: auto;" id="publicacoes">
			<h5>Sobre mim</h5>
			<p>Profissão: <span th:text="${usuario.profissao}"></span></p>
			<p style="margin-left: 20px;" class="bio-usuario" th:text="${usuario.bio}"></p>

			<p>Faço serviços! Me mande mensagem e vamos fechar contrato!</p>

			<img class="img-capa" th:src="|/usuario/capa/${usuario.id}|" alt="img" style="border-radius: 0">


			<p class="mt-2">Clique no botão 'Contratar' aí em cima ☝️ e me chame pra te ajudar com os meus serviços!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum harum et quis, dolorum, nobis vero
				alias sit cumque, quos aliquid facilis ipsum? Repudiandae maiores corporis accusantium corrupti
				assumenda quam.</p>

		</div>

		<!-- Comentários -->
		<section class="container-perfil card p-4 mb-3" id="comentarios">
			<div class="d-flex justify-content-between align-items-center">
				<h4>Comentários sobre <strong th:text="${usuario.nome}"></strong></h4>
				<div class="stars">
					<i class="star bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
				<div class="col">
					<div class="card" style="min-height: 200px;">
						<div class="card-body">
							<h5 class="card-title">Usuário</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Ótimo serviço!</h6>
							<p class="card-text">Profissional dedicado! Chegou no horário e cumpriu o prometido. Com
								certeza irei contratar mais vezes!</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="min-height: 200px;">
						<div class="card-body">
							<h5 class="card-title">Usuário</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Serviço maravilhoso!</h6>
							<p class="card-text">Caramba! Eu não imaginava o quanto esse aplicativo de serviços iria me
								ajudar a encontrar um serviço tão incrível como o seu. Obrigado, Reconnect.. por me
								ajudar a achar esse serviço diferenciado!</p>
						</div>
					</div>
				</div>

			</div>
		</section> <!-- Fim Comentários -->


	</div> <!--	Fim Feed perfil-->

	<!-- Modal Contato -->
	<div class="modal fade" th:id="'contato' + ${usuario.id}" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Entre em contato com <span
							th:text="${usuario.nome}"></span></h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">

					<div class="">

						<div>Profissão: <span th:text="${usuario.profissao}"></span></div>
						<div>E-mail: <span th:text="${usuario.email}"></span></div>
						<div>Telefone: <span th:text="${usuario.telefone}"></span></div>
					</div>

<!--					<form th:action="@{/contato/modal-cadastrar}" method="POST" th:object="${contato}">-->
<!--						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--						<div class="col">-->
<!--							<label for="servico" class="form-label">Serviço:</label>-->
<!--							<select class="form-control" id="servico" name="servico" required>-->
<!--								<option th:each="serv:${servicos}" th:text="${serv.nome}" th:value="${serv.id}">-->
<!--								</option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<div class="col">-->
<!--							<label for="contatonome" class="form-label">Cliente: </label>-->
<!--							<input type="text" class="form-control" id="contatonome" th:field="*{nome}" required>-->
<!--						</div>-->
<!--						<div class="col">-->
<!--							<label for="contatoemail" class="form-label">Email:</label>-->
<!--							<input type="email" class="form-control" id="contatoemail" th:field="*{email}" required>-->
<!--						</div>-->

<!--						<div>-->
<!--							<label for="mensagem" class="form-label">Mensagem</label>-->
<!--							<textarea style="resize: none"-->
<!--								placeholder="Agende serviços ou tire dúvidas com o profissional." type="text"-->
<!--								class="form-control" id="mensagem" th:field="*{mensagem}" rows="3" required></textarea>-->
<!--						</div>-->
<!--						<div class="modal-footer">-->
<!--							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
<!--							<button type="submit" class="btn btn-primary">Enviar</button>-->
<!--						</div>-->
<!--					</form>-->



				</div>



			</div>
		</div>
	</div> <!--	fim do modal-->

	<!-- Modal Contrato -->
<!--	<div class="modal fade" th:id="'contrato' + ${usuario.id}" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--		aria-hidden="true">-->
<!--		<div class="modal-dialog modal-dialog-centered">-->
<!--			<div class="modal-content">-->

<!--				<div class="modal-header">-->
<!--					<h1 class="modal-title fs-5">Cantrate os serviços de <span th:text="${usuario.nome}"></span></h1>-->
<!--					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--				</div>-->

<!--				<div class="modal-body">-->
<!--					<form method="POST" th:action="@{/contrato/modal-cadastrar}" th:object="${contrato}">-->
<!--						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--						<div class="row g-3">-->

<!--							<div class="col-sm-6">-->
<!--								<label for="usuario" class="form-label">Profissional</label>-->
<!--								<input type="text" id="usuario" class="form-control" th:value="${usuario.nome}"-->
<!--									readonly>-->
<!--								<input type="hidden" th:value="${usuario.id}" readonly>-->
<!--							</div>-->

<!--							<div class="col-sm-6">-->
<!--								<label for="servico" class="form-label">Serviço:</label>-->
<!--								<select class="form-control" id="servico" name="servico" required>-->
<!--									<option th:each="serv:${servicos}" th:text="${serv.nome}" th:value="${serv.id}">-->
<!--									</option>-->
<!--								</select>-->
<!--							</div>-->

<!--							<div class="col-sm-6">-->
<!--								<label for="profissao" class="form-label">Profissão: </label>-->
<!--								<input type="text" class="form-control" th:value="${usuario.profissao}" readonly>-->
<!--							</div>-->

<!--							<div class="col-sm-6">-->
<!--								<label for="cliente" class="form-label">Cliente: </label>-->
<!--								<select class="form-control" id="cliente" name="idCliente">-->
<!--									<option th:each="cli : ${usuarios}" th:text="${cli.nome}" th:value="${cli.id}">-->
<!--									</option>-->
<!--								</select>-->
<!--							</div>-->

<!--							<div class="col-sm-6">-->
<!--								<label for="endereco" class="form-label">Endereço</label>-->
<!--								<input type="text" class="form-control" id="endereco" th:field="*{endereco}" required>-->
<!--							</div>-->

<!--							<div class="col-sm-6">-->
<!--								<label for="data" class="form-label">Data</label>-->
<!--								<input type="datetime-local" class="form-control" id="data" th:field="*{data}" required>-->
<!--							</div>-->

<!--							<br>-->

<!--							<button type="submit" class="w-100 btn btn-primary btn-lg">Cadastrar</button>-->

<!--						</div>-->
<!--					</form>-->

<!--				</div>-->

<!--			</div>-->
<!--		</div>-->
<!--	</div> 	fim do modal-->

	<footer>
		<img src="../images/reconnect-footer.png" alt="Imagem da Logo da Reconnect">
		<div class="compra-segura">
			<strong>SERVIÇOS</strong>
			<a href="profissionais.html">Profissionais</a>
			<a href="servicos.html">Moda e Beleza</a>
			<a href="servicos.html">Serviços Domésticos</a>
		</div>
		<div class="contato">
			<strong>CONTATO</strong>
			<span><i class="ph ph-phone"></i> 85 3232-3232</span>
			<span><i class="ph ph-at"></i>contato@reconnect.com</span>
			<span><i class="ph ph-chat-centered"></i>
				<a style="color: white;" th:href="@{/faleconosco/cadastrar}">
					Fale Conosco
				</a>
			</span>
		</div>
		<div class="redes-sociais">
			<strong>REDES SOCIAIS</strong>
			<div>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i
							class="ph ph-instagram-logo"></i></a>
				</span>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-twitter-logo"></i></a>
				</span>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-github-logo"></i></a>
				</span>
			</div>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>