<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="styles/mediaquery.css">
	<script src="https://unpkg.com/@phosphor-icons/web"></script>
	<title>Reconnect - Contratos</title>
</head>

<body class="min-vh-100 d-flex flex-column justify-content-between">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">
					<img src="../../images/reconnect-header.png" alt="Imagem da Logo Reconnect">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-house" viewBox="0 0 16 16">
									<path
										d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
								</svg>
								Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profissionais}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-people-fill" viewBox="0 0 16 16">
									<path
										d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
								</svg>
								Profissionais</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/servicos}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-tools" viewBox="0 0 16 16">
									<path
										d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
								</svg>
								Serviços
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuario/cadastrar}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
									<path fill-rule="evenodd"
										d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
								</svg>
								Cadastre-se
							</a>
						</li>


						<li class="nav-item">
							<a class="nav-link" th:href="@{/entrar}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
									<path fill-rule="evenodd"
										d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
								</svg>
								Entrar
							</a>
						</li>
					</ul>

					<hr class="group-divider">
					<div class="dropdown ms-2">
						<button class="btn btn-outline-light btn-fundo dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Admin</button>
						<ul class="dropdown-menu dropdown-menu-end">

							<li><a class="dropdown-item dropdown-link" href="/usuario">Usuários</a></li>
							<li><a class="dropdown-item dropdown-link" href="/contrato">Contratos</a></li>
							<li><a class="dropdown-item dropdown-link" href="#">#</a></li>
							<li><a class="dropdown-item dropdown-link" href="/faleconosco">Fale Conosco</a></li>
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</header>

	<main class="container">
		<div style="display: flex; justify-content: center; align-items: center; gap: 5px;">
			<i style="font-size: 40px;" class="bi bi-file-text"></i>
			<div class="container" style="display: flex; align-items: center; justify-content: space-between;">
				<h1>Contratos</h1>
				<a th:href="@{/contrato/cadastrar}" class="btn btn-primary">Cadastrar</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 overflow-x-auto">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Cliente</th>
							<th scope="col">E-mail</th>
							<th scope="col">Data/Hora</th>
							<th scope="col">Endereço</th>
							<th scope="col">Profissional</th>
							<th scope="col">Concluído</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contrato : ${contrato}">
							<th scope="row" th:text="${contrato.id}"></th>
							<td th:text="${contrato.nome}"></td>
							<td th:text="${contrato.email}"></td>
							<td th:text="${contrato.data}"></td>
							<td th:text="${contrato.endereco}"></td>
							<td th:text="${contrato.usuario.nome}"> </td>
							<td>
								<p th:text="${contrato.concluido ? 'Sim':'Não'}"></p>
							</td>
							<td>
								<button data-bs-toggle="modal" class="btn btn-primary btn-edit mb-1"
									th:data-bs-target="'#editar' + ${contrato.id}">

									Editar
								</button>

								</a>
								<a th:href="@{/contrato/{id}/excluir (id=${contrato.id})}"
									class="btn btn-danger btn-edit mb-1"
									onclick="return confirm('Tem certeza que deseja excluir o contrato?');">
									Excluir
								</a>
							</td>

							<!-- Modal -->
							<div class="modal fade" th:id="'editar' + ${contrato.id}" tabindex="-1">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content ">
										<div class="modal-header">
											<h1 class="modal-title fs-5">Deseja mudar o Status para Concluído?</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										
										<div class="modal-body">

											<form th:action="@{'/contrato/editar'}" method="post"
												th:object="${contratoedit}">

												<div class="row">
													<input type="hidden" id="id" name="id" th:value="${contrato.id}" readonly />
														
													<input type="hidden" id="usuario" name="usuario" th:value="${contrato.usuario.id}" readonly />

													<div class="col-12 mb-1">
														<label>Profissional:</label>
														<input type="text" id="nome" class="form-control"
															th:value="${contrato.usuario.nome}" readonly />
													</div>
													
													<div class="col-12 mb-1">
														<label>Cliente:</label>
														<input type="text" id="nome" name="nome" class="form-control"
															th:value="${contrato.nome}" readonly />
													</div>



													<div class="col-12 mb-1">

														<label>Email:</label>
														<input type="email" id="email" name="email" class="form-control"
															th:value="${contrato.email}" readonly />
													</div>

													<div class="col-12 mb-1">

														<label for="endereco">Endereço:</label>
														<input type="text" id="endereco" name="endereco"
															class="form-control" th:value="${contrato.endereco}"
															readonly />
													</div>

													<div class="col-12 col-sm-6 mb-1">

														<label for="data">Data e Horário:</label>
														<input type="datetime-local" id="data" name="data"
															class="form-control" th:value="${contrato.data}" readonly />
													</div>

													<div class="col-12 col-sm-6 mb-1">

														<label>Resolvido:</label>
														<input type="text" id="concluido" name="concluido"
															class="form-control"
															th:value="${contrato.concluido ? 'true':'false'}" readonly/>
													</div>


												</div>
												<input type="submit" value="Salvar" class="w-100 btn btn-primary btn-lg mt-2"/>
												
											</form>
										</div>
										
									</div>
								</div>
							</div>
							<!--			FIM MODAL-->


						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</main>

	<footer>
		<img src="../images/reconnect-footer.png" alt="Imagem da Logo da Reconnect">
		<div class="compra-segura">
			<strong>SERVIÇOS</strong>
			<a href="profissionais.html">Profissionais</a>
			<a href="servicos.html">Moda e Beleza</a>
			<a href="servicos.html">Serviços Domésticos</a>
		</div>
		<div class="contato">
			<strong>CONTATO</strong>
			<span><i class="ph ph-phone"></i> 85 3232-3232</span>
			<span><i class="ph ph-at"></i>contato@reconnect.com</span>
			<span><i class="ph ph-chat-centered"></i>
				<a style="color: white;" th:href="@{/faleconosco/cadastrar}">
					Fale Conosco
				</a>
			</span>
		</div>
		<div class="redes-sociais">
			<strong>REDES SOCIAIS</strong>
			<div>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i
							class="ph ph-instagram-logo"></i></a>
				</span>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-twitter-logo"></i></a>
				</span>
				<span>
					<a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-github-logo"></i></a>
				</span>
			</div>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>