<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/mediaquery.css">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>Reconnect - Home</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <img src="images/reconnect-header.png" alt="Imagem da Logo Reconnect">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
                  viewBox="0 0 16 16">
                  <path
                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                </svg>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{profissionais}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-people-fill" viewBox="0 0 16 16">
                  <path
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                </svg>
                Profissionais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="servicos.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools"
                  viewBox="0 0 16 16">
                  <path
                    d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
                </svg>
                Serviços
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cadastro.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                Seja um Profissional
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/usuario">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
  					<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
				</svg>
                Usuários
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="entrar.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Entrar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/capa-cadastro.jpg" class="d-block w-100" alt="Imagem de uma moça pesquisando no celular.">
        <div class="carousel-caption d-none d-md-block">
          <h5>Conectando pessoas!</h5>
          <p>Economize muito com os serviços mais perto de você.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="images/capa04.jpg" class="d-block w-100"
          alt="Imagem de várias mãos se tocando. Simbolizando a união e conexão entre as pessoas.">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ache o serviço que você precisa hoje.</h5>
          <p>Conecte-se com profissionais avaliados por clientes, permitindo você negociar apenas com os melhores.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/capa00.jpg" class="d-block w-100" alt="Imagem de duas pessoas cozinhando.">
        <div class="carousel-caption d-none d-md-block">
          <h5>Se cadastre e comece a pegar serviços, ajude a comunidade.</h5>
          <p>Publique seus trabalhos e habilidades no seu Feed!</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <main>
    <section class="container my-4">
      <h1 class="display-4 font-weight-normal text-center">Busque os serviços!</h1>

      <form>
        <div class="mb-3 botao-pesquisa">
          <input type="text" class="form-control" id="exampleInputEmail1">
          <a href="servicos.html" class="btn btn-primary">
            <i class="bi bi-search"></i>
          </a>
        </div>
      </form>

    </section>

    <!-- servicos -->
    <h6 class="display-6 font-weight-normal text-center">Principais Serviços!</h6>
    <div class="container text-center">

      <div class="row">
        <div class="col-lg col-sm-6">
          <img width="140" height="140" src="images/servicos/limpeza.jpg"
            alt="imagem de uma mulher limpando a janela" class="rounded-circle" title="Limpeza">
          <h2 class="fw-normal">Limpeza</h2>
          <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
        </div>

        <div class="col-lg col-sm-6">
          <img width="140" height="140" src="images/servicos/reforma.jpg"
            alt="imagem de um homem reformando uma casa" class="rounded-circle" title="Reforma">

          <h2 class="fw-normal">Reforma</h2>
          <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
        </div>

        <div class="col-lg col-sm-6">
          <img width="140" height="140" src="images/servicos/professor.jpg"
            alt="imagem de um professor escrevendo em um  quadro branco" class="rounded-circle" title="Ensino">

          <h2 class="fw-normal">Ensino</h2>
          <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
        </div>

        <div class="col-lg col-sm-6">
          <img width="140" height="140" src="images/servicos/mecanico.jpg"
            alt="imagem de um mecânico em baixo de um carro" class="rounded-circle" title="Mecânico">

          <h2 class="fw-normal">Mecânico</h2>
          <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
        </div>

      </div>
      <hr class="my-4">
    </div> <!-- servicos fim -->

    
    <!-- profissionais -->
    <div class="col-md-5 p-lg-3 mx-auto my-0 text-center">
      <h6 class="display-6 font-weight-normal mb-4">Profissionais mais bem avaliados!</h6>
    </div>

    <section class="sessao-profissionais container mb-3">

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Diarista</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil10.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Pietra M.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Limpo de tudo. Agenda livre para fins de semana!</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Mecânico</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil03.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Marco R.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Sou profissional de motos, mais de 20 anos de experiência.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Encanador</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil04.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Mário B.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Melhor encanador do bairro! Aceito todo tipo de trabalho.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Personal Trainer</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil06.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Pricila P.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Personal trainer para emagrecimento e definição.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Marmiteira</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil09.png" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Patricia F.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Cozinho com amor! Aceito encomendas, ganha brinde.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card" id="professora">
          <h6 class="text-center">Professora de Balé</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil11.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div>
                <strong>Marlene F.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Ensino balé e danças para crianças e adolescentes.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito">
        <div class="body-card">
          <h6 class="text-center">Cabeleireira</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil01.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
              </div>
              <div>
                <strong>Isabela M.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Sou trancista faço lindas tranças box de linha. Preço acessível!</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-pessoa efeito" id="motorista">
        <div class="body-card">
          <h6 class="text-center">Motorista Particular</h6>
          <div class="header-card">
            <img class="foto-perfil" src="images/perfis/perfil00.jpg" alt="Imagem de perfil">
            <div class="stars-p">
              <div class="stars">
                <i class="star bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
              </div>
              <div>
                <strong>Irineu Jr.</strong>
              </div>
            </div>
          </div>
          <div class="footer-card">
            <p class="text-center">Faço transporte particular para eventos, viagens e empresas.</p>
            <div class="botoes-card">
              <div class="btn-group">
                <a class="btn btn-primary" href="#">Ver perfil</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Solicitar orçamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Orçamento solicitado!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Agora é só aguardar. <br> Você receberá uma mensagem de resposta.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>

          </div>
        </div>
      </div>
      <!-- fim do modal -->

    </section> <!-- profissionais fim -->

  </main>

  <footer>
    <img src="../images/reconnect-footer.png" alt="Imagem da Logo da Reconnect">
    <div class="compra-segura">
      <strong>SERVIÇOS</strong>
      <a href="profissionais.html">Profissionais</a>
      <a href="servicos.html">Moda e Beleza</a>
      <a href="servicos.html">Serviços Domésticos</a>
    </div>
    <div class="contato">
      <strong>CONTATO</strong>
      <span><i class="ph ph-phone"></i> 85 3232-3232</span>
      <span><i class="ph ph-at"></i>contato@reconnect.com</span>
      <span><i class="ph ph-map-pin"></i> Rua Servidor Público, s/n</span>
    </div>
    <div class="redes-sociais">
      <strong>REDES SOCIAIS</strong>
      <div>
        <span>
          <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-instagram-logo"></i></a>
        </span>
        <span>
          <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-twitter-logo"></i></a>
        </span>
        <span>
          <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i class="ph ph-github-logo"></i></a>
        </span>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>