<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/style.css">
    <link rel="stylesheet" href="src/styles/mediaquery.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Reconnect - Serviços</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="src/images/reconnect-header.png" alt="Imagem da Logo Reconnect">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-house" viewBox="0 0 16 16">
                                    <path
                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profissionais.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                </svg>
                                Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="servicos.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-tools" viewBox="0 0 16 16">
                                    <path
                                        d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
                                </svg>
                                Serviços
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cadastro.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                Seja um Profissional
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="entrar.html">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                              </svg>
                              Entrar
                            </a>
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="position-relative overflow-hidden text-center ">
            <img class="capinha card-img-top" src="src/images/capa03.jpg" alt="Imagem de um homem olhando o celular.">
            <div class="col-md-5 p-lg-3 mx-auto my-0">
                <h3 class="display-4 font-weight-normal">Nossos Serviços!</h3>
                <p class="lead font-weight-normal">Variedades de serviços a um clique.</p>
            </div>
        </div>

        <div class="container text-center">

            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/limpeza.jpg" alt="imagem de uma mulher limpando a janela" class="rounded-circle" title="Limpeza">
                    <h2 class="fw-normal">Limpeza</h2>
                    <p>Serviços de Diaristas</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>

                <div class="col-lg-4 col-sm-6">                  
                    <img width="140" height="140" src="src/images/servicos/reforma.jpg" alt="imagem de um homem reformando uma casa" class="rounded-circle" title="Reforma">

                    <h2 class="fw-normal">Reforma</h2>
                    <p>Serviços de Pedreiros</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/mudanca.jpg" alt="imagem de duas pessoas segurando caixas de mudanças" class="rounded-circle" title="Mudança">

                    <h2 class="fw-normal">Mudança</h2>
                    <p>Serviços de Mudanças</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
                          
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/eletricista.jpg" alt="imagem de um eletricista" class="rounded-circle" title="Eletricista">

                    <h2 class="fw-normal">Eletricista</h2>
                    <p>Serviços de Eletricistas</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
    
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/pintor.jpg" alt="imagem de uma moça pintando uma parede com a cor branca" class="rounded-circle" title="Pintura">

                    <h2 class="fw-normal">Pintura</h2>
                    <p>Serviços de pinturas</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/montagem.jpg" alt="imagem de um homem montando móvel" class="rounded-circle" title="Montagem">

                    <h2 class="fw-normal">Montagem</h2>
                    <p>Serviços de montagens</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/professor.jpg" alt="imagem de um professor escrevendo em um  quadro branco" class="rounded-circle" title="Ensino">

                    <h2 class="fw-normal">Ensino</h2>
                    <p>Serviços de professores</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
    
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/costura.jpg" alt="imagem de duas mãos costurando em uma máquina de costura" class="rounded-circle" title="Moda">

                    <h2 class="fw-normal">Moda</h2>
                    <p>Serviços de costura</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <img width="140" height="140" src="src/images/servicos/mecanico.jpg" alt="imagem de um mecânico em baixo de um carro" class="rounded-circle" title="Mecânico">

                    <h2 class="fw-normal">Mecânico</h2>
                    <p>Serviços de mecânicos</p>
                    <p><a class="btn btn-primary" href="profissionais.html">Listar profissionais &raquo;</a></p>
                </div>
           
            </div>
   
        </div>


        <footer>
            <img src="src/images/reconnect-footer.png" alt="Imagem da Logo Reconnect">
            <div class="compra-segura">
                <strong>SERVIÇOS</strong>
                <a href="profissionais.html">Profissionais</a>
                <a href="servicos.html">Moda e Beleza</a>
                <a href="servicos.html">Serviços Domésticos</a>
            </div>
            <div class="contato">
                <strong>CONTATO</strong>
                <span><i class="ph ph-phone"></i> 85 3232-3232</span>
                <span><i class="ph ph-at"></i>contato@reconnect.com</span>
                <span><i class="ph ph-map-pin"></i> Rua Servidor Público, s/n</span>
            </div>
            <div class="redes-sociais">
                <strong>REDES SOCIAIS</strong>
                <div>
                    <span>
                        <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i
                                class="ph ph-instagram-logo"></i></a>
                    </span>
                    <span>
                        <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i
                                class="ph ph-twitter-logo"></i></a>
                    </span>
                    <span>
                        <a href="https://github.com/PatsFerrer/49ers" target="_blank"><i
                                class="ph ph-github-logo"></i></a>
                    </span>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </main>
</body>

</html>